body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
}

#titlepage{
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Hide the default file input */
input[type="file"] {
    display: none;
}

/* Style the label to look like a button */
.file-input-label,
.file-submit-label {
    display: inline-block;
    background-color: green;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.file-input-label{
    width: 100%;
    height: 100%;
}

.file-input-label{
    width: 900px;
    height: 400px;
    font-size: large;
}

/* Ensure the submit button is hidden */
input[type="submit"] {
    display: none;
}

/* Style the text that displays the chosen file name */
.file-name {
    font-size: 16px;
    color: #333;
    display: block;
    margin: 10px;
}
