<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSort</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js" defer></script>
</head>
<body>
    <h1 id="errorPage"> <span style="color: red;">ERROR - Could not recognize image</span></h1>

    <div class="errorMsg">
        <p>wompwomp</p>
    </div>

    <button onclick="window.location.href='/'" class="file-submit-label">Go back</button>

</body>
</html>

