<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSort</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js" defer></script>
</head>
<body>
    <h1 id="titlePage"> <span style="color: green;">Eco</span><span style="color: rgb(71, 71, 223);">Sort</span></h1>

    <form id="imageUploader" enctype="multipart/form-data">

        <div class="submissionForm">
            <input type="file" id="select" name="file">
            <label for="select" class="file-input-label">Click Anywhere to Upload an Image</label>
            <span id="file-name" class="file-name">No image chosen</span>
        </div>

        <input type="submit" id="submit" value="Upload Image">
        <label for="submit" class="file-submit-label">Upload Image</label>

    </form>

    <div class="errorReport"> </div>

    <div class="container">
        <div class="infoForm">
            <div class="result">
                <pre class="classify"></pre>
            </div>

            <div class="chat-response">
                <h2 id="responseHeader"> </h2>
                <pre id="chat-response-content"> </pre>
            </div>
        </div>
    </div>
    
</body>
</html>